{
    "printWidth": 120,
    "proseWrap": "always",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "endOfLine": "auto",
    "quoteProps": "preserve",
    "htmlWhitespaceSensitivity": "ignore"
}
